{% extends extend %}

{% block content %}
	<div class="row>
        <div class="col-sm-24">
            <form class="form-group" method="POST" action="">
                <fieldset>
                    {% csrf_token %}
                    {{ form.as_p }}
	           </fieldset>
                <div class="text-center">
                    <div class="btn-group">
                        <button class="btn btn-xs btn-default" type="submit"><span class="glyphicon glyphicon-floppy-save"></span>Enregistrer</button>
		              <a href="/utilisateurs/liste" class="btn btn-xs btn-default"><span class="cancel"></span>Annuler</a>
	               </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
