{% extends extend %}

{% block content %}
	<div class="row text-center">
		<div class="col-sm-24">
          <h3> {{ element.localisation }}<h/3>
		</div>
	</div>
	<div class="row text-center">
        <div class="col-sm-24">
            <label>Nom : </label> {{user.first_name }} {{ user.last_name }}
        </div>
    </div>
	<div class="row">
        <form class="form-group" method="POST" action="">
            <firldset>
                {% csrf_token %}
                {{ form.as_p }}
	       </fieldset>
           <div class="text-center">
                <div class="btn-group">
                    <button class="btn btn-xs btn-default" type="submit">Confirmer <span class="glyphicon glyphicon-arrow-right"></span></button>
		          <a href="/structure/modif/element/{{ element.id }}" class="btn btn-xs btn-default"><span class="cancel"></span>Annuler</a>
	           </div>
            </div>
        </form>
        </div>
    </div>
    <hr>
{% endblock content %}
