
{% extends 'registration/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block app_css %}
    <link rel="stylesheet" href="{% static 'communs/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'communs/css/registration.css' %}">
    <link rel="stylesheet" href="{% static 'global/css/login.css' %}">

{% endblock app_css %}
{% block content %}
<div class="container_login" > 
    <div class="form" id="formulaire-login1">
            <div style="width: 100%;">
                <img class="img-responsive img-thumbnail" src="{% static 'img/trace.PNG' %}" atl="logo" style="width: 100%;padding: 1px;" />
            </div>

    <p>{% trans "Votre mot de passe à bien été changé." %}</p>
    <a class="btn btn-xs btn-default psa_color" href="/accueil">{% trans "Ok" %}</a>

{# Assumes you setup the password_reset view in your URLconf #}
<!-- p><a href="{% url 'password_reset' %}">Lost password?</a></p -->
	</div>
</div>
{% endblock %}
