{% extends 'communs/base.html' %}
{% load static %}

{% block app_css %}
    <link rel="stylesheet" href="{% static 'communs/css/registration.css' %}">
{% endblock app_css %}

{% block content %}

{% if form.errors %}
    <p>Votre nom d'utilisateur et votre mot de passe ne correspondnt pas. Essayez à nouveau.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Vous n'êtes pas autorisé à accéder à cette page.</p>
    {% else %}
    <p>Connectez-vous.</p>
    {% endif %}
{% endif %}
<form method="post" action="">
    <fieldset>
        {% csrf_token %}
        <div class="row">
            <div class="col-sm-7 col-offset-5 text-right">    
                <label>Mot de passe actuel : </label>
            </div>
            <div class="col-sm-7">
                {{ form.old_password }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-7 col-offset-5 text-right">    
                <label>Nouveau mot de passe : </label>
            </div>
            <div class="col-sm-7">
                {{ form.new_password1 }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-7 col-offset-5 text-right">    
                <label>Confirmation : </label>
            </div>
            <div class="col-sm-7">
               {{ form.new_password2 }}
            </div>
        </div>
    </fieldser>
    <div class="form-group text-center">
        <input class="btn btn-default" type="submit" value="Validation" />
        <input type="hidden" name="next" value="{{ next }}" />
    </div>
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<!-- p><a href="{% url 'password_reset' %}">Lost password?</a></p -->

{% endblock %}
