{% extends 'registration/base.html' %}
{% load static %}
{% load i18n %}
{% block app_css %}
    <link rel="stylesheet" href="{% static 'communs/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'communs/css/registration.css' %}">
    <link rel="stylesheet" href="{% static 'global/css/login.css' %}">

{% endblock app_css %}
{% block content %}
<div class="container_login" > 
    <div class="form" id="formulaire-login1">

{% if form.errors %}
    <p>{% trans "Votre nom d'utilisateur et votre mot de passe ne correspondnt pas. Essayez à nouveau." %}</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>{% trans "Vous n'êtes pas autorisé à accéder à cette page." %}</p>
    {% else %}
    <p>{% trans "Connectez-vous." %}</p>
    {% endif %}
{% endif %}
<form method="post" action="">
            <fieldset style="border-width: 0px">
            <div style="width: 100%;">
                <img class="img-responsive img-thumbnail" src="{% static 'img/trace.PNG' %}" atl="logo" style="width: 100%;padding: 1px;" />
            </div>
        {% csrf_token %}
<input type="password" name="old_password" autofocus required id="id_old_password" placeholder="{% trans 'Mot de passe actuel' %}" />
<input type="password" name="new_password1" required id="id_new_password1" placeholder="{% trans 'Nouveau mot de passe' %}"/>        
<input type="password" name="new_password2" required id="id_new_password2"  placeholder="{% trans 'Confirmation' %}"/>
    </fieldser>
    <div class="form-group text-center">
        <input class="btn btn-default psa_color" type="submit" value="{% trans 'Validation' %}" />
        <input type="hidden" name="next" value="{{ next }}" />
    </div>
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<!-- p><a href="{% url 'password_reset' %}">Lost password?</a></p -->
	</div>
</div>
{% endblock %}
