{% extends 'registration/base.html' %}
{% load static %}

{% block app_css %}
    <link rel="stylesheet" href="{% static 'communs/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'communs/css/registration.css' %}">
    <link rel="stylesheet" href="{% static 'global/css/login.css' %}">

{% endblock app_css %}
{% block content %}

<div class="container_login" > 
    <div class="form" id="formulaire-login1">
        <form class="login-form" method="post" action="{% url 'login' %}">
            <fieldset style="border-width: 0px">
            {% csrf_token %}
            <div style="width: 100%;">
                <img class=img-responsive img-thumbnail src="{% static 'img/trace.PNG' %}" title="{{site.nom}}" atl="logo" style=width: 100%; padding: 1px; />
            </div>
            {% if form.errors %} <!-- En cas de mauvais identifiants -->
                <div  class="alert alert-danger" style="text-align: justify;text-justify: inter-word;" >
                    Votre <strong>nom d'utilisateur</strong> et votre <strong>mot de passe</strong> ne correspondent pas.<br>Essayez à nouveau.
                </div>
            {% endif %}
            {% if next %}
                <div style="padding: 10px;">
                    {%  if user.is_authenticated %}
                        Vous n'êtes pas autorisé à accéder à cette page.
                    {% else %}
                        <div>Connectez-vous</div>
                    {% endif %}
                </div>
            {% endif %}
                <input type="text" name="username" required id="id_username" maxlength="254" placeholder="Utilisateur" />
                <input type="password" name="password" required id="id_password" placeholder="Mot de Passe" />       
            </fieldset>
            <br>
            <input type="hidden" name="next" value="{{ next }}" /> 
            <button type="submit" value="Connexion">Connexion</button>
            <br>
        </form>
    </div>
</div>




{# Assumes you setup the password_reset view in your URLconf #}
<!-- p><a href="{% url 'password_reset' %}">Lost password?</a></p -->

{% endblock %}

{% block js %}
<script type="text/javascript">
	
$(document).ready(function(){
	$('#id_username').focus();	
});
</script>
{% endblock js %}

