{% extends extend %}

{% block content %}
<div class="row text-center">
	<div class="col-sm-24">
		<form class="form-group" method="POST" action="" enctype="multipart/form-data">
			<fieldset>
				{% csrf_token %}
				{{ form.as_p }}
			</fieldset>
			<div class="row text-center">
				<button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-ok"></span>{{ btn_submit }}</button>
				<a href="{{retour}}" class="btn btn-primary" role="button"><span class="cancel"></span>Annuler</a>
			</div>
		</form>
	</div>
</div>

{% endblock content %}

